@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

.top-navbar {
  background-color: rgb(60, 0, 18);
  text-align: center;
  padding: 3px;
  display: none;
}

.top-navbar .top-contact-details {
  color: white;
  text-decoration: none;
}

.top-navbar .top-contact-details i {
  margin-right: 5px;
}

.navbar-brand img {
  width: 160px;
}

.fifteen-years {
  width: 7rem;
  height: auto;
}

.contact-details {
  text-decoration: none !important;
  color: rgb(51, 51, 51);
  font-size: 18px;
}

.contact-details:hover {
  color: rgb(152, 1, 46);
}

.contact-details i {
  color: rgb(152, 1, 46);
  margin-right: 5px;
}

.btn1 {
  background: rgb(152, 1, 46);
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid rgb(152, 1, 46);
  transition: 0.3s ease;
}

.btn1:hover {
  background: #ffc858;
  border-color: #ffc858;
  color: #000;
}

.btn2 {
  background: transparent;
  color: rgb(152, 1, 46);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid rgb(152, 1, 46);
  transition: 0.3s ease;
}

.btn2:hover {
  background: #ffc858;
  color: #000;
}

/* Hero Section Css Start  */

.hero {
  background: url("../image/slider/slider-1.jpg") center/cover no-repeat;
  /* min-height: 100vh; */
}

.overlay {
  background: rgba(152, 1, 46, 0.759);
  padding: 50px 0px;
  display: flex;
  align-items: center;
}

.overlay-content {
  color: #fff;
}
.shi-heading {
  font-weight: 800;
  font-size: 36px;
}
.overlay-content h1 {
  font-weight: 800;
  font-size: 40px;
}

.overlay-content h4 {
  color: #ffc857;
  font-weight: 700;
}

.overlay-content p {
  color: #fff;
}

.courses {
  border: 1px solid #ffc857;
  margin: 20px 0;
  padding: 15px 15px 0px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
}
.details {
  border-left: 3px solid rgb(255, 200, 87);
}
.right-form {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
}
.right-form iframe {
  height: 563px;
}

/* About Section Css */

.about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.content-box {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.content-box .count {
  color: rgb(152, 1, 46);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.content-box .label {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid rgb(152, 1, 46);
}

/* About Section Css End*/





/* Awared Section Css Start  */

.rank {
  padding: 77px 0;
  /* background: url(../image/bg-imageaward.webp) no-repeat 0 0; */
  background-size: cover !important;
  padding: 45px 0px 0;
}
.rank-box {
  /* background: linear-gradient(26deg, #ffc858, #a02f42); */
  background-color: #98012e;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #ffc858;
}
.rank .icn_img {
  width: 60px;
  margin-right: 21px;
  height: auto;
}

.rank_no sup {
  font-size: 25px;
  font-weight: 400;
}
.rank .icon_img_info p {
  color: #fff;
}
.rank_no {
  font-size: 40px !important;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
  line-height: 36px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Awared Section Css end  */

/* Course Section Css Start  */
.eng-modern-section {
  background: rgb(152, 1, 46);
  padding: 90px 5%;
}

.section-title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 800;
}

.section-subtitle {
  text-align: center;
  color: #ffc857;
  font-size: 20px;
  margin-bottom: 60px;
}

.eng-top-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  height: 100%;
}

.eng-top-card:hover {
  transform: translateY(-10px);
}

.eng-top-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.eng-top-content {
  padding: 25px;
  text-align: left;
}

.eng-top-content h3 {
  color: rgb(152, 1, 46);
  font-size: 20px;
  margin-bottom: 10px;
}

.eng-top-content p {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}

/* Swiper arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #ffc857;
}

/* Mobile */
@media (max-width: 768px) {
  .eng-top-img img {
    height: 180px;
  }
}

/* Course Section Css End  */

.about-container h2 {
  text-align: center;
  color: #8c2241;
}
.about img {
  width: 160px;
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Why Shivalik Css  */
.iit-partner-section {
  background: #f9f9f9;
  padding: 80px 20px;
  text-align: center;
}

.iit-heading h2 {
  font-size: 36px;
  color: rgb(152, 1, 46);
  font-weight: 800;
}

.iit-heading p {
      text-align: center;
    color: #000;
    font-size: 20px;
    margin-bottom: 60px;
}

.iit-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 50px auto 0;
}

.iit-card {
  background: #fff;
  padding: 35px 25px;
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  transition: 0.4s ease;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden; 
}


.iit-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #74042a;
  opacity: 0.8;
  border-radius: 20px;
  z-index: 1;
  pointer-events: none;
}

.iit-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.iit-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.iit-card h3 {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 10px;
}

.iit-card p {
  font-size: 16px;
  color: #f1f1f1;
  margin-bottom: 6px;
}

.iit-card span {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
}

.iit-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.iit-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #ffc858;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}

@media (max-width: 900px) {
  .iit-grid {
    grid-template-columns: 1fr;
  }
}


.industry-section {
  padding: 80px 5%;
  background: url(../image/bg-image-funding.png);
      background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.industry-section h2 {
  text-align: center;
  margin-bottom: 50px;
  color: rgb(152, 1, 46);
}
.industry-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT SIDE */
.industry-left {
  flex: 1;
}

/* .industry-left h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #042f66;
} */

.industry-grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.industry-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 0px rgb(140 34 65);
  transition: 0.3s;
}

.industry-card:hover {
  transform: translateY(-5px);
}

.industry-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #8c2241;
}

.industry-card p {
  font-size: 14px;
  color: #555;
}

/* RIGHT SIDE FUNDING BOX */
.industry-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fund-box {
  background: rgb(152, 1, 46);
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(4, 47, 102, 0.2);
  transition: 0.3s;
}

.fund-box:hover {
  transform: translateY(-5px);
  background: #ffaf0c;
}

.fund-box h3 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 700;
}

.fund-box p {
  font-size: 14px;
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 992px) {
  .industry-container {
    flex-direction: column;
  }
}

.placement-section {
  padding: 80px 20px;
  /* background:rgb(152,1,46); */
  text-align: center;
}

.placement-section h2 {
  color: rgb(152, 1, 46);
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
}

/* .placementSwiper{
  max-width:1200px;
  margin:auto;
} */

.placementSwiper .swiper-slide {
  /* background:#fff; */
  border-radius: 12px;
  /* padding:15px; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.placementSwiper img {
  width: 100%;
  /* height:120px; */
  object-fit: contain;
}

/* Recruiters CSS Start  */

.recruiters {
  background-color: rgb(152, 1, 46);
  padding: 50px 0px;
}
.recruiters h2 {
  text-align: center;
  color: rgb(152, 1, 46);
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Recruiters CSS End */

/* Funding Section Css  */

.funding-section {
  position: relative;
  padding: 70px 15px;
  background-image: url(../image/bg-image-funding.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.funding-title {
  color: rgb(152, 1, 46);
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px !important;
  text-align: left;
}
.funding-card,
.funding-stat {
  background: #fff;
  padding: 15px 15px;
  border-radius: 14px;
  height: 100%;
  box-shadow: 0 0px 5px 1px #ffc858;
  transition: all 0.3s ease;
}

.funding-card:hover,
.funding-stat:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.funding-card h3,
.funding-stat h3 {
  color: rgb(152, 1, 46);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
}

.funding-card p,
.funding-stat p {
  font-size: 15px;
  color: #000;
  margin: 0;
  font-weight: 500;
}

.funding-right {
  background: #fff;
  padding: 35px 30px;
  border-radius: 16px;
  box-shadow: 0 0px 5px 1px #ffc858;
}

.funding-right h2 {
  color: rgb(152, 1, 46);
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 22px;
}

.funding-right ul {
  padding-left: 0;
  list-style: none;
}

.funding-right ul li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  font-weight: 500;
  color: #000;
}

.funding-right ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 2px;
  color: rgb(152, 1, 46);
}
.funding-section .row {
  text-align: left;
}

/* Funding Section Css  End*/

/* Accordion CSS Start  */

.accordion h2 {
  text-align: center;
  color: rgb(152, 1, 46);
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  background-color: white;
  margin-bottom: 5px;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: rgb(152, 1, 46);
}

.accordion a:hover::after {
  border: 1px solid rgb(152, 1, 46);
}

.accordion a.active {
  color: rgb(152, 1, 46);
  border-bottom: 2px solid rgb(152, 1, 46);
}

.accordion a::after {
  content: "\f06e";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: rgb(152, 1, 46);
  padding: 3px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgb(152, 1, 46);
  text-align: center;
}

.accordion a.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f070";
  color: rgb(152, 1, 46);
  border: 1px solid rgb(152, 1, 46);
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  background-color: white;
  margin-bottom: 10px;
}

.accordion .content p {
  font-weight: 400;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

/* Accordion CSS End */

/* Footer Css Start  */

.sce-footer {
  background: linear-gradient(135deg, rgb(152, 1, 46), #910736);
  color: #ffffff;
}

.footer-logo {
  width: 160px;
}
.sce-footer h4 {
  color: #ffcc00;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-title {
  color: #ffc857;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.footer-list a:hover {
  color: #ffc857;
}

.small-footer {
  color: #fff;
  font-size: 16px;
}

.years-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.12);
  padding: 10px 15px;
  border-radius: 10px;
}

.years-badge img {
  width: 45px;
}

.years-badge span {
  color: #ffc857;
  font-weight: 600;
}

.footer-bottom {
  background: #74042a;
  color: #ffffff;
  text-align: center;
}

.footer-bottom p {
  color: #ffffff;
  padding: 12px 10px;
  margin: 0;
  font-size: 14px;
}

.sce-footer a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.sce-footer a:hover {
  color: #ffc857;
}

/* Footer Css End  */

.enquire-btn-bottom {
  position: fixed;
  top: 50%;
  right: -32px;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: center;
}
