.main-navbar {
    min-height: 70px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.brand-logo {
    height: 55px;
    width: auto;
}
.main-navbar {
    min-height: 70px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.brand-logo { height: 60px; }
.nav-logo { height: 50px; }
.nav-logo.small { height: 50px; }

@media (max-width: 576px) {
    .brand-logo { 
        height: 45px; 
        /*height:100%;*/
    }
    .nav-logo { height: 32px; }
}

/* Mobile */
@media (max-width: 576px) {
    .brand-logo {
        height: 45px;
        /*height:100%;*/
    }
    .nav-logo {
        height: 32px;
    }
}


/* Hero Section Css  */

.hero-txt {
  display: flex;
  gap: 20px;
  margin-top: 35px;
      flex-direction: column;
}
.partenred-txt {
  padding: 10px;
  box-shadow: 0px 4px 21px 0px rgb(67 0 17 / 87%);
  border-radius: 10px;
  border-bottom: 2px solid #ffc857;
}

.logoAutoCarousel{
  display: none;
}
/* Hero Section Css End */


/* About Section Css */

.about-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.content-box {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.content-box .count {
  color: rgb(152, 1, 46);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.content-box .label {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #8c2241;
}

/* About Section Css End*/


/* Why Shivalik Css  */

.why-image {
  width: 100% !important;
  border-left: 4px solid #8c2241;
  border-radius: 0px 0px 0px 20px;
}
.why-img {
  border-right: 4px solid #ffc857;
  border-radius: 0px 0px 20px 0px;
}
ul.why-content {
  padding-left: 20px;
}


/* Why Shivalik Css  End*/


/* Academic Excellence Css  */

.academic-excellence {
  background: #98022e;
  padding: 50px 0px 30px;
}

.excellence-box {
  background: #98022e;
  padding: 30px 25px;
  border-radius: 16px;
  height: 100%;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.logo-iit {
  display: flex;
  align-items: center;
  gap: 12px;
}

.excellence-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #ffc858;
}

.excellence-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.25);
}

.excellence-box img {
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  margin-bottom: 15px;
}

.excellence-box h4 {
  color: #fff;
  font-weight: 800;
  margin-bottom: 15px;
  display: inline-block;
  padding-bottom: 6px;
  border-bottom: 3px solid #ffc858;
  font-size: 20px;
}

.excellence-box ul {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.excellence-box ul li {
  color: #fff;
  margin-bottom: 12px;
  line-height: 1.7;
  position: relative;
  font-size: 14px;
}
.excellence-box ul li {
  list-style: disc;
  font-size: 16px;
  color: #fff;
}

.excellence-box {
  animation: fadeUp 0.6s ease both;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Academic Excellence Css  End*/



/* Research Section Css  */

.research-innovation {
    position: relative;
    padding: 50px 15px;
    background-image: url(../images/Research-bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ri-header {
  text-align: center;
  margin-bottom: 60px;
}

.ri-header h2 {
  font-size: 32px;
  font-weight: 800;
  color: #98012e;
}

.ri-header p {
  color: #000;
  font-size: 16px;
}

.ri-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.ri-card {
  position: relative;
  background: linear-gradient(135deg, #98022e, #c01845);
  color: #fff;
  padding: 45px 20px;
  text-align: center;
  border-radius: 22px;
  transition: 0.4s ease;
}

.ri-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 22px;
  background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.15));
}

.ri-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 30px 70px rgba(152, 2, 46, 0.55);
}

.ri-card span {
  font-size: 38px;
  font-weight: 900;
  display: block;
  margin-bottom: 10px;
  color: #ffc858;
}

.ri-card h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

/* Research Section Css  End*/
.course-list-faq {
  padding-left: 20px;
}


/* Program Offered Css  */

.programs-section {
    background: #f6f6f6;
}

.program-image {
    position: relative;
}

.program-img {
    width: 100%;
    height: 100%;
    max-height: 485px !important;
    object-fit: cover;
}

.image-overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.image-overlay h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    border-bottom: 4px solid #ffc858;
}

.program-right {
    background: #8b1538;
    padding: 30px 15px;
}
.program-card {
    background: #fff;
    border-radius: 14px;
    padding: 18px;
    display: flex;
    gap: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    height: 100%;
    /* display: flex;
    justify-content: flex-start;
    gap: 10px; */
}

.program-card h5 {
    margin-bottom: 8px;
    font-weight: 700;
    color: #98022e;
}

.program-card ul {
    padding-left: 16px;
    margin: 0;
    font-size: 14px;
}

.program-card ul li{
  margin-bottom: 0px;
}

.program-card .icon {
    width: 45px;
    height: 45px;
    background: #f3f3f3;
    padding: 6px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .image-overlay h2 {
        font-size: 22px;
    }
}

/* Program Offered Css  End*/


/* Funding Section Css  */
.funding-section{
    position: relative;
    padding: 50px 15px;
    background-image: url(../images/bg-image-funding.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TITLE */
.funding-title {
    color:#98022e;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px !important;
    text-align: left;
}

/* CARDS */
.funding-card,
.funding-stat {
    background: #fff;
    padding: 15px 15px;
    border-radius: 14px;
    height: 100%;
    box-shadow: 0 0px 5px 1px #ffc858;
    transition: all 0.3s ease;
}

.funding-card:hover,
.funding-stat:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

/* TEXT */
.funding-card h3,
.funding-stat h3 {
    color: #98022e;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 6px;
}

.funding-card p,
.funding-stat p {
    font-size: 15px;
    color: #000;
    margin: 0;
    font-weight: 500;
}

/* RIGHT PANEL */
.funding-right{
    background:#fff;
    padding:35px 30px;
    border-radius:16px;
    box-shadow:0 0px 5px 1px #ffc858 !important;
}

.funding-right h2{
    color:#98022e;
    font-weight:800;
    margin-bottom:20px;
    font-size: 22px;
}

.funding-right ul{
    padding-left:0;
    list-style:none;
}

.funding-right ul li{
    position:relative;
    padding-left:28px;
    margin-bottom:12px;
    font-weight:500;
    color:#000;
}

.funding-right ul li::before{
    content:"\f00c";
    font-family:"Font Awesome 6 Free";
    font-weight:900;
    position:absolute;
    left:0;
    top:2px;
    color:#98022e;
}

/* FIX ALIGNMENT */
.funding-section .row{
    text-align:left;
}

/* RESPONSIVE */
@media(max-width:768px){
    .funding-right{
        margin-top:0px;
        padding: 15px 15px;
    }
    .funding-title{
        font-size:22px;
    }
}


/* Funding Section Css  End*/




.logos-section-rec{
  background-color: #98012e !important;
}
.customer-logos img{
    width: 200px;
    height: 95px;
    padding: 22px;
}
.scholarship-btn-fixed{
    position:fixed;
    bottom:32px;
    right:20px;
    background: #ffc858;
    color: #000;
    padding:14px 20px;
    border-radius:50px;
    font-weight:600;
    font-size:14px;
    text-decoration:none;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    z-index:9999;
    display:flex;
    align-items:center;
    gap:8px;
    animation:pulse 1.5s infinite;
}
.scholarship-btn-fixed a:hover{
    color:#fff !important;
    text-decoration: none !important;
}
.scholarship-btn-fixed:hover a{
    color:#fff !important;

}
.scholarship-btn-fixed span{
    background:#fff;
    color:#ff5722;
    padding:3px 8px;
    border-radius:20px;
    font-size:12px;
    font-weight:700;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.05);}
    100%{transform:scale(1);}
}




.scholarship-btn-fixed:hover{
    background:#98012e;
    color:#fff  !important;
}
@media (max-width: 991px) {

  .ri-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .hero-txt {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .program-img{
    max-height: 260px !important;
  }
  .scholarship-btn-fixed {
    position: fixed;
    bottom: 35px;
    left: 17px;
    color: #fff;
    padding: 5px 10px; 
  }
  .customer-logos img{
    width: 100%;
    height: 100%;
    padding: 12px;
}
.logoAutoCarousel{
  display: block;
}
}
@media (max-width: 575px) {
  .ri-grid {
    grid-template-columns: 1fr;
  }
  .about-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

section .funding-right{
    box-shadow:0 0px 5px 1px #ffc858 !important;
}